<!-- http://mgonto.github.io/angular-wizard/ -->
<div id="main_content_wrap" class="outer login">
      <section id="main_content" class="inner main-inner" ng-app="wizard-sample" ng-controller="PublicCtrl">
        <wizard on-finish="finished()">

          <wz-step wz-title="Personal Information">
             <div class="row">
              <div class="row">
                <form class="col s12" ng-submit="personal()">
                <h5>Personal Information</h5>
                  <div class="row">
                    <div class="input-field col s6">
                      <input id="first_name" type="text" class="validate" ng-model="currentUser.firstname">
                      <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                      <input id="last_name" type="text" class="validate" ng-model="currentUser.lastname">
                      <label for="last_name">Last Name</label>
                    </div>
                  </div>
                  <div class="row">
                     <div class="input-field col s6">
                      <input  type="date" class="datepicker" ng-model="currentUser.dob" required min="1940-01-01" max="{{date | date:'yyyy-MM-dd'}}">
                      </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input id="ethnicity" type="text" class="validate" ng-model="currentUser.ethnicity">
                      <label for="ethnicity">Ethnicity</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input id="address" type="text" class="validate" ng-model="currentUser.address">
                      <label for="address">Address</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input id="phone" type="text" class="validate" ng-model="currentUser.phonenumber">
                      <label for="phone">Phone Number</label>
                    </div>
                  </div>
                  <button type = "submit" class="waves-effect waves-light">Submit</button>

              </form>
              </div>
            </div>



            <input type="button" wz-previous="logStep()" value="BACK" />
            <input type="button" wz-next="logStep()" value="NEXT" />
          </wz-step>
          <wz-step wz-title="Facility Information">
            <div class="row">
               <form class="col s12" ng-submit="facility()">
                <h5>Facility Information</h5>
                  <div class="row">
                    <div class="input-field col s6">
                      <input id="full_name" type="text" class="validate" list="doctorname" name="doctor" ng-model="doctorname.fullname">
                      <label for="full_name">Doctor Name</label>
                      <datalist id="doctorname">
                        <div ng-repeat = "doctor in doctorname">
                          <option value="{{doctor.fullname}}"></option>
                        </div>

                      </datalist>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input id="doctor_speciality" type="text" class="validate" list="speciality" ng-model = "doctorname.speciality">
                      <label for="doctor_speciality">Speciality</label>
                      <datalist id="speciality">
                        <div ng-repeat = "doctor in doctorname">
                          <option value="{{doctor.speciality}}">
                        </div>
                      </datalist>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input id="facility_address" type="text" class="validate" list="facilityaddress" ng-model="doctorname.address">
                      <label for="facility_address">Facility Address</label>
                      <datalist id="facilityaddress">
                        <div ng-repeat = "doctor in doctorname">
                          <option value="{{doctor.address}}">
                        </div>
                      </datalist>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input id="phone" type="text" class="validate" list="phonenumber" ng-model="doctorname.phonenumber">
                      <label for="phone">Phone Number</label>
                      <datalist id="phonenumber">
                        <div ng-repeat = "doctor in doctorname">
                          <option value="{{doctor.phonenumber}}">
                        </div>
                      </datalist>
                    </div>
                  </div>
                  <button type = "submit" class="waves-effect waves-light">Submit</button>

              </form>
            </div>
            <input type="button" wz-previous="logStep()" value="BACK" />
            <input type="button" wz-next="logStep()" value="NEXT" />
          </wz-step>
          <wz-step wz-title="Release of Medical Information">
            <div class="row">
              <form class="col s12" ng-submit="release()">
                <h5>Release of Medical Information</h5>
                  <div class="row">
                    <div class="input-field col s6">
                      <input id="fullname" type="text" class="validate" ng-model="releasePerson.fullname">
                      <label for="fullname">Full Name</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input id="relation" type="text" class="validate" ng-model="releasePerson.relation">
                      <label for="relation">Relation</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input id="phonenumber" type="text" class="validate" ng-model="releasePerson.phone">
                      <label for="phonenumber">Phone Number</label>
                    </div>
                  </div>
                  <button type = "submit" class="waves-effect waves-light">Submit</button>
              </form>
            </div>
            <input type="button" wz-previous="logStep()" value="BACK" />
            <input type="button" wz-next="logStep()" value="NEXT" />
          </wz-step>
          <wz-step wz-title="Allergy">
            <div class="row">
              <form class="col s12" ng-submit="allergy()">
                <h5>Allergy</h5>
                  <div class="row container">
                    <form class="col s12" ng-submit="allergy()">
                    <div class="fixed">
                      <h6>Food Allergy</h6>
                      <div  ng-repeat = "foodallergy in foodallergys">
                        <input type= "checkbox" value= "{{foodallergy.name}}" id="{{foodallergy.name}}">
                        <label for="{{foodallergy.name}}">{{foodallergy.name}}</label>
                      </div>
                      </div>
                      <div class="flex-item">
                      <h6>Drug Allergy</h6>
                      <div  ng-repeat = "drugallergy in drugallergys">
                        <input type= "checkbox" value= "{{drugallergy.name}}" id="{{drugallergy.name}}">
                        <label for="{{drugallergy.name}}">{{drugallergy.name}}</label>
                      </div>
                      </div>
                    </form>
                  </div>
                  <button type = "submit" class="waves-effect waves-light">Submit</button>
              </form>
            </div>
            <input type="button" wz-previous="logStep()" value="BACK" />
            <input type="button" wz-next="logStep()" value="NEXT" />
          </wz-step>
          <wz-step wz-title="Insurance Details">
            <div class="row">
               <form class="col s12" ng-submit="insurance()">
                <h5>Insurance Information</h5>
                  <div class="row">
                    <div class="input-field col s6">
                      <input id="primaryInsurance" type="text" class="validate" ng-model="patientInsurance.insuranceprovider">
                      <label for="primaryInsurance">Insurance Provider</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input id="groupid" type="text" class="validate" ng-model="patientInsurance.groupid" >
                      <label for="groupid">GroupID</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input id="subscriberid" type="text" class="validate" ng-model="patientInsurance.subscriberid">
                      <label for="subscriberid">SubscriberID</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input id="insuranceType" type="text" class="validate" list="insurance_type" ng-model="patientInsurance.insurance_type">
                      <label for="insuranceType">insuranceType</label>
                    </div>
                    <datalist id="insurance_type">
                      <option>Primary</option>
                      <option>Secondary</option>
                    </datalist>
                  </div>
                  <button type = "submit" class="waves-effect waves-light">Submit</button>

              </form>
            <input type="button" wz-previous="logStep()" value="BACK" />
            <input type="button" wz-next="logStep()" value="NEXT" />
          </wz-step>
          <wz-step wz-title="Finish">
            <h1>Finish him</h1>
            <p>Finally this ends!</p>
            <input type="button" wz-previous="logStep()" value="BACK" />
            <input type="button" wz-next="logStep()" value="END" />
            <input type="button" ng-click="goBack()" value="Click here to start again" />
            <input type="button" wz-reset value="Click here to reset" />
          </wz-step>
        </wizard>
      </section>
    </div>
