<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <!-- <a href="#!" class="brand-logo">Logo</a> -->
        <ul>
          <li><a href="#/form">Update Information</a></li>
          <li><a href="/">Home</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>
<div id="mySidenav" class="sidenav">
  <button ng-click="showme = true">Dashboard</button>
  <button>Insurance</button>
  <button>Medication</button>
  <button>Release of Medical Records</button>
  <button>History</button>
  <button>Allergy</button>
  <button>Visit Summary</button>
</div>
<div ng-show="showme"><p>Hello</p></div>

<!-- Use any element to open the sidenav -->
