<div class="navbar-fixed ">
    <nav>
      <div class="nav-wrapper navColor">
        <!-- <a href="#!" class="brand-logo">Logo</a> -->
        <ul>

          <li><a href="#/logout">LOGOUT</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="welcome">
    <h5 style = "text-transform: uppercase;">Hi {{currentUser.firstname}} {{currentUser.lastname}},</h5>
    <p>

    Welcome to the Patient Portal Managing your healthcare is an important step.. With this website, you will be able to manage your healthcare information by giving you the ability to: 1. Provide up-to-date personal and medical information. 2. Obtain, review, and print clinic lab results and medical information for your records to ,provide you with your healthcare information. 3. Search educational material to help you improve and manage your health. If you wish to speak to someone at our practice regarding an urgent care situation please call ***-***-**** to schedule an appointment or to reach the doctor that is on call.</p>
  </div>
  <div style="width:150px; margin-top:105px;" class="side-nav fixed">
  <button ng-click="activePortalButton('Dashboard')" class="sideButton tooltipped" data-position="right" data-delay="50" data-tooltip="Click to Expand">Dashboard</button>
  <button ng-click="activePortalButton('Doctor')"  class="sideButton tooltipped" data-position="right" data-delay="50" data-tooltip="Click to Expand">Doctor</button>
  <button ng-click="activePortalButton('Insurance')"  class="sideButton tooltipped" data-position="right" data-delay="50" data-tooltip="Click to Expand">Insurance</button>
  <button ng-click="activePortalButton('Medication')"  class="sideButton tooltipped" data-position="right" data-delay="50" data-tooltip="Click to Expand">Medication</button>
  <button ng-click="activePortalButton('Release')"  class="sideButton tooltipped" data-position="right" data-delay="50" data-tooltip="Click to Expand">Release of Medical Records</button>
  <button ng-click="activePortalButton('History')"  class="sideButton tooltipped" data-position="right" data-delay="50" data-tooltip="Click to Expand">History</button>
  <button ng-click="activePortalButton('Allergy')"  class="sideButton tooltipped" data-position="right" data-delay="50" data-tooltip="Click to Expand">Allergy</button>
  <button ng-click="activePortalButton('VisitSummary')"  class="sideButton tooltipped" data-position="right" data-delay="50" data-tooltip="Click to Expand">Visit Summary</button>
  <button ng-click ='goTo()' class="sideButton" > Update Information</button>
</div>
<div id = "Dashboard" ng-if ="active_portal == 'Dashboard'" >
  <div class="card block" >
    <div class= "col s12 m6 center-align medication card-content" >

      <h5 class="card-title">Personal Information</h5>
      <h6> Full Name: {{currentUser.firstname}}  {{currentUser.lastname}}</h6>
      <p> Email: {{currentUser.email}}</p>
      <div> Date of Birth: {{currentUser.dob}}</div>
      <div>Ethnicity: {{currentUser.ethnicity}}</div>
      <div>Address: {{currentUser.address}}</div>
      <div>Contact Information: {{currentUser.phonenumber}}</div>
      <button class="activator">Edit Information</button>

    </div>
     <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</div>
<div id = "Doctor" ng-if ="active_portal == 'Doctor'" >
  <div class="row block" >
    <div class= "col s12 m6 center-align medication" >
      <h5 class="card-title">Doctor Information</h5>
      <div ng-repeat = "doctor in patientDoctor">
      <h6> Full Name: {{doctor.fullname}}</h6>
      <p>Speciality: {{doctor.speciality}}</p>
      <p>Facility Address: {{doctor.address}}</p>
      <p>Contact Information: {{doctor.phonenumber}}</p>
      </div>
    </div>
  </div>
</div>
<div id = "Insurance" ng-if ="(active_portal === 'Insurance')" >
  <div class="row block">
    <div class= "col s12 m6 center-align">
      <h5 class="card-title">Insurance Information</h5>
      <div ng-repeat = "insurance in patientInsurance" class="medication">
        <div>Insurance provider: {{insurance.insuranceprovider}}</div>
        <div>Group ID: {{insurance.groupid}}</div>
        <div>Subscriber ID: {{insurance.subscriberid}}</div>
        <div ng-if = "insurance.insurance_type_id === 1">Insurance Type: Primary</div>
        <div ng-if = "insurance.insurance_type_id === 2">Insurance Type: Secondary</div>
      </div>
    </div>
  </div>
</div>
<div id="Medication" ng-if ="active_portal == 'Medication'">
  <div class="row block">
    <div class= "col s12 m6 center-align">
      <h5 class="card-title">Medication Information</h5>
      <div ng-repeat = "medication in medications" class="medication">
        <h4>{{medication.brandname}}</h4>
        <p>{{medication.drugname}}</p>
        <p>{{medication.dosage}}</p>
        <p>{{medication.route}}</p>
        <p ng-if="medication.medication_type_id ===1">Current Medication</p>
        <p ng-if="medication.medication_type_id ===2">Discontinued Medication</p>
      </div>
    </div>
  </div>
</div>
<div id="Release"  ng-if ="active_portal == 'Release'">
  <div class="row block">
    <div class= "col s12 m6 center-align">
      <h5 class="card-title">Release of Medical Information</h5>
      <div ng-if ="releasePerson.length === 0">No Release person added to your account.</div>
      <div ng-repeat = "person in releasePerson" class="medication">

        <div> Full Name: {{person.fullname}}</div>
        <div>Relation: {{person.relation}}</div>
        <div>Contact Information: {{person.phonenumber}}</div>
      </div>

    </div>
  </div>
</div>
<div id="History"  ng-if ="active_portal == 'History'">
  <div class="row block">
    <div class= "col s12 m6 center-align">
      <h5 class="card-title">Social and Family History</h5>
      <div ng-repeat = "history in histories" class="medication">
      {{history.name}}</div>
    </div>
  </div>
</div>
<div id="Allergy"  ng-if ="active_portal == 'Allergy'">
  <div class="row block">
    <div class= "col s12 m6 center-align">
      <h5 class="card-title">Allergy Details</h5>
      <div ng-repeat = "allergy in allergys" class="medication">
      {{allergy.name}}</div>
    </div>
  </div>
</div>
<div id = "VisitSummary"  ng-if ="active_portal == 'VisitSummary'">
  <div class="row block">
     <div class= "col s12 m6 center-align">
       <h5 class="card-title">Visit Summary</h5>
       <p class="medication">No visit summary available.</p>
     </div>
  </div>
</div>
<!-- Use any element to open the sidenav -->
