
<div class="login">
  <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate" ng-model="email">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate" ng-model="password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <a class="waves-effect waves-light btn blue darken-4" ng-click="login()">Login</a>
            <a class="waves-effect waves-light btn blue darken-4
              " ng-click = "forgotPassword()">Forgot Password ?</a>
            <p>New User ?<a href="#/register">Register Here</a>
          </div>
        </div>
      </form>
    </div>
</div>
