body {
  background-color: lightgrey;
  text-align: center;
}

.steps-indicator li.done a:before {
  background-color: #08f !important;
}
.steps-indicator li.current a:before {
  background-color: #08f !important;
}

.login {
  background-color: #fff;
  display: inline-block;
  width: 700px;
}

.container{
    display: flex;
}
.fixed{
    width: 200px;
}
.flex-item{
    flex-grow: 1;
}
.check {
  display: inline-block;
  margin-right: 40px;
  border: 1px solid grey;
}
