body {
  background-color: lightgrey;
  text-align: center;
}

.steps-indicator li.done a:before {
  background-color: #08f !important;
}
.steps-indicator li.current a:before {
  background-color: #08f !important;
}

.login {
  background-color: #fff;
  display: inline-block;
  width: 700px;
}

.container{
    display: flex;
}
.fixed{
    width: 200px;
}
.flex-item{
    flex-grow: 1;
}
.check {
  display: block;
    float: left;
    width: 25%;
  /*border: 1px solid grey;*/
}
label.sm {
  display: block;
  float: left;
  width: 100%;
   margin: 0;
  padding: 0;
}
label.sm:last-child:after {
  clear: both;
  content: " ";
  display: block;
  height: 0px;
  overflow: hidden;
   margin: 0;
  padding: 0;
}
.medication {
  border: 1px solid black;
}
